.total-request-count {
  text-align: right;
  padding: 10px 20px;
}

.list-item {
  cursor: pointer;
  border: 1px solid #666;
  margin: 10px 20px;
  padding: 15px;
  &:hover {
    background-color: #ccc;
  }

  &.active {
    background-color: #ccc;
  }
}
