.mat-expansion-panel-header {
  height: unset;
  min-height: 102px;

  &.hide {
    height: 0px;
    min-height: 0;
  }
}

.toggle-bar {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 1rem;
  width: 100%;
  margin-right: 10px;

  .form-row {
    display: flex;
    align-items: center;

    &.radio {
      min-height: 40px;
      .mat-radio-group {
        margin: 5px 20px;

        .mat-radio-button {
          margin-right: 20px;
        }
      }
    }


    .form-column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 300px;
      padding: 0 20px;

      .form-column-container {
        .form-sub-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-width: 300px;
          min-height: 20px;
          padding: 0 20px;
        }
      }

      mat-form-field  {
        width: 100%;
        margin-bottom: 10px;

        .min {
          margin-right: 10px;
        }

        .max {
          margin-left: 10px;
        }
      }

      &.half {
        width: 50%;
        min-width: unset;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 20px 10px;

        &.empty {
          background-color: transparent;
          padding: 0 20px;
          justify-content: flex-end;

          .button-container {
            align-items: flex-end;
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}
