.page {
  width: 90%;
  margin: 2rem auto;
}

.mat-expansion-panel-header {
  height: unset;
}

.form {
  margin-top: 1rem;
  width: 100%;
  margin-right: 10px;

  .form-row {
    display: flex;

    .form-column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 300px;
      padding: 0 20px;

      mat-form-field  {
        width: 100%;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}
